<%- include('partials/header.ejs') %>
<div class="div1">
    <div class="div2">
        <p class="blog-website" id="blog-website">Blog Website</p>
        <div class="div3">
            <div class="div4">
                <% if (locals.data) { %>
                    <% locals.data.forEach((post) => { %>
                        <div class="div-post">
                            <form  method="POST">
                                <h3 class="div-post-h3">
                                    <%= post.title %>
                                </h3>
                                <p class="div-post-para">
                                    <%= post.para %>
                                </p>
                                <div>
                                    <button class="button btn-danger close-icon-btn btn" type="submit" formaction="/delete/<%= post._id %>">
                                    Delete
                                    </button>
                                    <a class="button btn-primary edit-icon-btn btn" href="/update/<%= post._id %>" role="button">
                                    Edit
                                    </a>
                                </div>
                            </form>
                        </div>
                    <% }) %>
                    
                <% } %>
            </div>
        </div>
        <div class="" id="div-create-post">
            <a class="btn btn-dark" id="create-post-btn" href="/post" role="button">+&nbsp;Create Post</a>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
